<template>
  <div>
    <h1>Compras</h1>

    <el-row :gutter="10">
      <el-col :xs="24" :sm="24" :md="12" :lg="12">
        <el-card class="box-card mt-3">
          <div slot="header" class="clearfix">
            <span>Realizar compra</span>
          </div>
          <div class="text item">
            <el-form :model="comprarForm" class="demo-form-inline" ref="comprarForm">
              <el-form-item label="Descripción">
                <el-input type="textarea" v-model="comprarForm.descripcion"></el-input>
              </el-form-item>
              <el-form-item label="Monto de la compra">
                <el-input type="number" v-model.number="comprarForm.monto" placeholder="10"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button :loading="loading" type="primary" @click="realizarCompra">Crear compra</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12">
        <el-card class="box-card mt-3">
          <div slot="header" class="clearfix">
            <span>Confirmar pago</span>
          </div>
          <div class="text item">
            <el-form :model="pagoForm" class="demo-form-inline" ref="pagoForm">
              <el-form-item label="Identificador del pago">
                <el-input v-model="pagoForm.idPago"></el-input>
              </el-form-item>
              <el-form-item label="Código de verificación">
                <el-input v-model="pagoForm.token"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button :loading="loading" type="primary" @click="confirmarPago">Confirmar</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>

  import mixinHandleResponseErrors from "../mixins/mixinHandleResponseErrors";
  import {mapGetters} from 'vuex';
  import axios from '../services/axios';
  import mixinAlerts from "../mixins/mixinAlerts";

  export default {
    name: "Cuenta",
    mixins: [mixinHandleResponseErrors, mixinAlerts],
    data() {
      return {
        loading: false,
        pagoForm: {
          idPago: '',
          token: ''
        },
        comprarForm: {
          descripcion: '',
          monto: 0
        }
      }
    },
    created() {
    },
    computed: {
      ...mapGetters('auth', ['user', 'token']),
    },
    methods: {
      /**
       * Consulta el saldo disponible en la cuenta del usuario.
       */
      async confirmarPago() {
        this.loading = true;
        try {
          const res = await axios.post('/api/compras/confirmarPago', {
            ...this.pagoForm
          }, {
            'x-access-token': this.token
          });

          this.pagoForm.idPago = '';
          this.pagoForm.token = '';

          this.openMessage(res.data.mensaje, 'success');
          this.$refs['pagoForm'].resetFields();
        } catch (e) {
          console.log(e);
          this.openMessage(this.getErrorString(e), 'error');
        }
        this.loading = false;
      },

      /**
       * Agrega saldo a la billetera del usaurio.
       * @return {Promise<void>}
       */
      async realizarCompra() {
        this.loading = true;
        try {
          const res = await axios.post('/api/compras/realizarCompra', {
            ...this.comprarForm
          }, {
            'x-access-token': this.token
          });

          this.comprarForm.descripcion = '';
          this.comprarForm.monto = 0;
          this.openMessage(res.data.mensaje, 'success');
        } catch (e) {
          console.log(e);
          this.openMessage(this.getErrorString(e), 'error');
        }
        this.loading = false;
      }
    }
  }
</script>

<style scoped>

</style>