<template>
  <div>
    <h1>Cuenta</h1>

    <el-row :gutter="10">
      <el-col :xs="24" :sm="24" :md="12" :lg="12">
        <el-card class="box-card mt-3">
          <div slot="header" class="clearfix is-flex is-align-middle">
            <span>Estado de cuenta</span>
          </div>
          <div class="text item">
            <h1 v-if="saldo" class="color-2">Saldo disponible: {{saldo}}$</h1>

            <el-form :model="saldoForm" class="demo-form-inline" ref="saldoForm">
              <el-form-item label="Documento">
                <el-input v-model="saldoForm.documento" placeholder="ej: 123456789"></el-input>
              </el-form-item>
              <el-form-item label="Celular">
                <el-input v-model="saldoForm.celular" placeholder="ej: 041546954"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button :loading="loading" type="primary" @click="consultarSaldo">Consultar saldo</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="24" :md="12" :lg="12">
        <el-card class="box-card mt-3">
          <div slot="header" class="clearfix">
            <span>Recargar billetera</span>
          </div>
          <div class="text item">
            <el-form :model="recargaForm" class="demo-form-inline" ref="recargaForm">
              <el-form-item label="Documento">
                <el-input v-model="recargaForm.documento" placeholder="ej: 123456789"></el-input>
              </el-form-item>
              <el-form-item label="Celular">
                <el-input v-model="recargaForm.celular" placeholder="ej: 041546954"></el-input>
              </el-form-item>
              <el-form-item label="Monto a recargar">
                <el-input type="number" v-model.number="recargaForm.valor" placeholder="10"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button :loading="loading" type="primary" @click="recargarBilletera">Recargar</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>

  import mixinHandleResponseErrors from "../mixins/mixinHandleResponseErrors";
  import {mapGetters} from 'vuex';
  import axios from '../services/axios';
  import mixinAlerts from "../mixins/mixinAlerts";

  export default {
    name: "Cuenta",
    mixins: [mixinHandleResponseErrors, mixinAlerts],
    data() {
      return {
        loading: false,
        saldo: null,
        saldoForm: {
          documento: '',
          celular: ''
        },
        recargaForm: {
          documento: '',
          celular: '',
          valor: 0
        }
      }
    },
    created() {
    },
    computed: {
      ...mapGetters('auth', ['user', 'token']),
    },
    methods: {
      /**
       * Consulta el saldo disponible en la cuenta del usuario.
       */
      async consultarSaldo() {
        this.loading = true;
        try {
          const res = await axios.get('/api/clientes/consultarSaldo', {
            params: {
              documento: this.saldoForm.documento,
              celular: this.saldoForm.celular
            }
          }, {
            'x-access-token': this.token
          });

          this.saldo = res.data.saldo;
          this.saldoForm.documento = '';
          this.saldoForm.celular = '';
        } catch (e) {
          console.log(e);
          this.openMessage(this.getErrorString(e), 'error');
        }
        this.loading = false;
      },

      /**
       * Agrega saldo a la billetera del usaurio.
       * @return {Promise<void>}
       */
      async recargarBilletera() {
        this.loading = true;
        try {
          const res = await axios.post('/api/clientes/recargarBilletera', {
            ...this.recargaForm
          }, {
            'x-access-token': this.token
          });

          this.recargaForm.documento = '';
          this.recargaForm.celular = '';
          this.recargaForm.valor = 0;
          this.openMessage(res.data.mensaje, 'success');
        } catch (e) {
          console.log(e);
          this.openMessage(this.getErrorString(e), 'error');
        }
        this.loading = false;
      }
    }
  }
</script>

<style scoped>

</style>