<template>
  <div class="home">
    <el-row style="display: flex; flex-wrap: wrap; align-items: center" align="middle" class="mt-5">
      <el-col :xs="24" :md="9">
        <h1 class="color-1 home-title">Billetera Virtual</h1>
        <router-link to="/login"  class="btn-home mt-5" round>Empezar</router-link>
        <h1 class="color-4" style="text-align: center">Guarda tu dinero y realiza tus compras de forma segura</h1>
      </el-col>
      <el-col :xs="24" :md="15">
        <el-image
          style="width: 100%"
          src="/img/billetera.svg"
          fit="contain"></el-image>
      </el-col>
    </el-row>

    <el-row :gutter="10" style="display: flex; flex-wrap: wrap; justify-content: center" class="mt-5">
      <el-col :xs="24" :sm="12" :md="6">
        <el-card class="box-card mt-3">
          <div class="text item" style="display: flex; justify-content: center">
            <el-image
              style="width: 66%"
              src="/img/card.svg"
              fit="contain"></el-image>

          </div>
          <div class="mt-5">
            <h3 class="color-4 mb-0">Paga tus compras en línea</h3>
          </div>
        </el-card>
      </el-col>
      <el-col :xs="24" :sm="12" :md="6">
        <el-card class="box-card mt-3">
          <div class="text item">
            <el-image
              style="width: 100%"
              src="/img/cuenta.svg"
              fit="contain"></el-image>
          </div>
          <div class="mt-5">
            <h3 class="color-4 mb-0">Consulta y recarga tus saldos</h3>
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Home',
}
</script>
