<template>
  <div class="register-view">
    <h1>Bienvenido a su billetera virtual</h1>
    <el-card class="box-card bg-color-2 form-card">
      <el-form :model="loginForm" :rules="rules" label-position="top" ref="loginForm" label-width="120px"
               class="demo-loginForm custom-form">
        <el-form-item label="Email" prop="email">
          <el-input type="email" v-model="loginForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Contraseña" prop="password">
          <el-input type="password" v-model="loginForm.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button :loading="loading" class="bg-color-4" type="primary" @click="submitForm('loginForm')">
            Iniciar sesión
          </el-button>
        </el-form-item>
        <el-form-item style="margin: 0">
          <router-link class="color-3" to="/register">Registrarse</router-link>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  import mixinHandleResponseErrors from "../mixins/mixinHandleResponseErrors";
  import mixinAlerts from "../mixins/mixinAlerts";

  export default {
    name: "Login",
    mixins: [mixinHandleResponseErrors, mixinAlerts],
    data() {

      return {
        loading: false,
        loginForm: {
          email: '',
          password: ''
        },
        rules: {
          email: [
            {required: true, message: 'Por favor introduzca su email', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Por favor introduzca su contraseña', trigger: 'blur'}
          ]
        }
      };
    },
    methods: {
      ...mapActions('auth', ['saveUser']),
      /**
       * Valida el formulario antes de realizar la petición
       */
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.registerUser();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },

      /**
       * Hace la petición a la API para registrar al nuevo usuario
       */
      async registerUser() {
        this.loading = true;
        try {
          const res = await this.$http.post('/api/clientes/accesoCliente', {
            ...this.loginForm
          });
          this.saveUser(res.data);
          this.resetForm();
          this.openMessage('Haz iniciado sesión', 'success');

          this.$router.push('/cuenta');
        } catch (e) {
          this.openMessage(this.getErrorString(e), 'error');
        }
        this.loading = false;
      },
      resetForm() {
        this.$refs['loginForm'].resetFields();
      }
    }
  }
</script>

<style scoped lang="scss">
  .text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }

  .box-card {
    width: 480px;
  }

  .register-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .bottom-form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>