<template>
    <el-card class="profile-card" style="height: 100%">
        <div slot="header" style="display: flex; align-items: center">
            <el-avatar class="bg-color-1 color-white" style="margin-right: 10px" icon="el-icon-user-solid"></el-avatar>
            <h3 class="color-white">Profile</h3>
        </div>
        <div class="profile-body">
            <p><i class="el-icon-user"></i> Name: {{ user.firstName }} {{ user.lastName }}</p>
            <p class="mt-3"><i class="el-icon-message"></i> Email: {{ user.email }} {{ user.lastName }}</p>
        </div>
    </el-card>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: "Profile",
    computed: {
      ...mapGetters('auth', ['user']),
    }
  }
</script>

<style lang="scss">
    @import "../assets/sass/variables";
    .profile-body {
        font-size: 18px;
    }

    .profile-card {
        .el-card__header {
            background-color: $color-2 !important;
            color: $color-1;
        }
    }
</style>