<template>
  <div class="register-view">
    <h1>Crear cuenta</h1>
    <el-card class="box-card bg-color-2 color-2 form-card">
      <el-form :model="registerForm" class="custom-form" :rules="rules" label-position="top" ref="registerForm"
               label-width="120px">
        <el-form-item label="Nombre" prop="nombre">
          <el-input v-model="registerForm.nombre"></el-input>
        </el-form-item>
        <el-form-item label="Documento" prop="documento">
          <el-input v-model="registerForm.documento"></el-input>
        </el-form-item>
        <el-form-item label="Celular" prop="celular">
          <el-input v-model="registerForm.celular"></el-input>
        </el-form-item>
        <el-form-item label="Email" prop="email">
          <el-input type="email" v-model="registerForm.email"></el-input>
        </el-form-item>
        <el-form-item label="Contraseña" prop="password">
          <el-input type="password" v-model="registerForm.password"></el-input>
        </el-form-item>
        <el-form-item label="Confirmar contraseña" prop="confirmPassword">
          <el-input type="password" v-model="registerForm.confirmPassword"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button :loading="loading" class="bg-color-1" type="primary" @click="submitForm('registerForm')">
            Registrarse
          </el-button>
          <el-button :loading="loading" type="white" @click="resetForm">
            Limpiar formulario
          </el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
  import mixinHandleResponseErrors from "../mixins/mixinHandleResponseErrors";

  export default {
    name: "Register",
    mixins: [mixinHandleResponseErrors],
    data() {
      const validateConfirmPassword = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Por favor confirme la contraseña'));
        } else if (value !== this.registerForm.password) {
          callback(new Error('Las contraseñas no coinciden'));
        } else {
          callback();
        }
      };

      return {
        loading: false,
        registerForm: {
          nombre: '',
          documento: '',
          celular: '',
          email: '',
          password: '',
          confirmPassword: ''
        },
        rules: {
          nombre: [
            {required: true, message: 'Por favor introduzca su nombre', trigger: 'blur'},
            {min: 1, max: 50, message: 'Debe tener una lungitud de entre 1 y 50 caracteres', trigger: 'blur'}
          ],
          documento: [
            {required: true, message: 'Por favor introduzca su documento de identidad', trigger: 'blur'},
            {min: 1, max: 30, message: 'Debe tener una lungitud de entre 1 y 30 caracteres', trigger: 'blur'}
          ],
          celular: [
            {required: true, message: 'Por favor introduzca su número de celular', trigger: 'blur'},
            {min: 1, max: 30, message: 'Debe tener una lungitud de entre 1 y 30 caracteres', trigger: 'blur'}
          ],
          email: [
            {required: true, message: 'Por favor introduzca su email', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Por favor introduzca una contraseña', trigger: 'blur'}
          ],
          confirmPassword: [
            {validator: validateConfirmPassword, trigger: 'blur'}
          ],
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.registerUser();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      async registerUser() {
        this.loading = true;
        try {
          const res = await this.$http.post('/api/clientes/registroCliente', {
            ...this.registerForm
          });
          console.log(res.data);
          this.$message.success({
            message: 'Se ha registrado de forma exitosa',
            showClose: true
          });
          this.resetForm();
          this.$router.push('/login');
        } catch (e) {
          console.log(e.message);
          this.$message.error({
            message: 'Ha ocurrido un error al intentar registrarse: ' + this.getErrorString(e),
            showClose: true
          });
        }
        this.loading = false;
      },
      resetForm() {
        this.$refs['registerForm'].resetFields();
      }
    }
  }
</script>

<style scoped lang="scss">
  @import "../assets/sass/variables";

  .text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }

  .box-card {
    width: 480px;
  }

  .register-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>