<template>
    <div id="app">
        <el-container>
            <el-header>
                <navbar/>
                <div id="nav">

                </div>
            </el-header>
            <el-main class="app-container">
                <transition name="el-fade-in-linear" mode="out-in" appear>
                    <router-view :key="$route.fullPath"/>
                </transition>
            </el-main>
            <el-footer class="is-flex is-align-middle is-justify-center">
                <h3 class="m-0 color-white">JDCode - 2020</h3>

            </el-footer>
        </el-container>
        <el-backtop target=".app-container"></el-backtop>
    </div>
</template>
<script>
    import Navbar from "./components/Navbar";
    export default {
        name: "App",
        components: {
            Navbar
        }
    }
</script>