@import "variables";

@mixin generate($prefix, $property) {
  // List of sizes to generate for each
  $sizes: [0, 0.25, 0.5, 1, 1.5, 3];
  // Spacing to multiply the sizes by
  $spacing: 1rem;

  // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
  @for $i from 1 through length($sizes) {
    // Get the size for the current index
    $size: nth($sizes, $i);

    // Create the rule
    .#{$prefix}-#{$i - 1} {
      #{$property}: $spacing * $size;
    }
  }
}

@mixin generate-color($prefix, $property, $colors) {
  @each $name, $color in $custom-colors {
    .#{$prefix}-#{$name} {
      #{$property}: $color;
    }
  }
}

/** Media Queries **/

@mixin sm {
  @media only screen and (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media only screen and (min-width: #{$breakpoint-xl}) {
    @content;
  }
}