$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$green-vue-color: #4c45b2;
$blue-vue-color: #35495e;

///* SCSS HEX */
$color-1: #4c45b2;
$color-2: #6c63ff;
$color-3: #F0EFF4;
$color-4: #8881fb;
$color-5: #E15A97;

$custom-colors: ("1": $color-1, "2": $color-2, "3": $color-3, "4": $color-4, "5": $color-5);

