@import "variables";
@import "mixins";

@include generate(m, margin);
@include generate(ml, margin-left);
@include generate(mr, margin-rigth);
@include generate(mt, margin-top);
@include generate(mb, margin-bottom);

@include generate(p, padding);
@include generate(pl, padding-left);
@include generate(pr, padding-rigth);
@include generate(pt, padding-top);
@include generate(pb, padding-bottom);

@include generate-color(color, color, $custom-colors);
@include generate-color(bg-color, background-color, $custom-colors);

.color-white {
  color: #fff;
}

.bg-color-white {
  color: #fff;
}

.color-green-vue {
  color: $green-vue-color;
}

.bg-color-green-vue {
  background-color: $green-vue-color;
}

.color-blue-vue {
  color: $blue-vue-color;
}

.bg-color-blue-vue {
  background-color: $blue-vue-color;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.el-header {
  padding: 0;
}

.app-container {
  min-height: 100vh;
}
.el-footer {
  padding: 0;
  min-height: 30px;
  background-color: $green-vue-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  border-radius: 20px;
}

.custom-form {
  .el-form-item__label {
    color: $color-3;
  }
}

.el-submenu [class^="el-icon-"] {
  margin: 0 !important;
}

.home-title {
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: all .3s;

  @include sm {
    font-size: 4rem;
  }

  @include md {
    font-size: 5rem;
    text-align: right;
  }
}

.btn-home {
  border-radius: 25px;
  border-width: 2px;
  border-color: #6c63ff;
  padding: 13px 45px !important;
  color: #6c63ff;
  border-style: solid;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: all .3s;

  &:hover {
    background-color: #6c63ff;
    color: white;
  }
}