<template>
    <el-menu :router="true" :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
             background-color="#4c45b2"
             text-color="#fff"
             active-text-color="#8881fb">
        <el-menu-item v-if="!loggedIn" index="/">
            Inicio
        </el-menu-item>
        <el-menu-item v-if="loggedIn" index="/cuenta">
            Cuenta
        </el-menu-item>
        <el-menu-item v-if="loggedIn" index="/compras">
            Compras
        </el-menu-item>
        <el-menu-item v-if="!loggedIn" index="/register">
            Registrarse
        </el-menu-item>
        <el-menu-item v-if="!loggedIn" index="/login">
            Iniciar Sesión
        </el-menu-item>
        <el-submenu index="" v-if="loggedIn" style="float: right">
            <template slot="title">{{ user.nombre }} <el-avatar icon="el-icon-user-solid"></el-avatar> </template>
            <el-menu-item index="" @click="logout">Cerrar sesión</el-menu-item>
        </el-submenu>
    </el-menu>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: "Navbar",
    data() {
      return {
        activeIndex: '/',
      };
    },
    created() {
      this.activeIndex = this.$route.path;
    },
    computed: {
      ...mapGetters('auth', ['loggedIn', 'user']),
    },
    methods: {
      ...mapActions('auth', ['logout']),
      redirectTo(to) {
        this.$router.push(to).catch(()=>{});
      }
    }
  }
</script>

<style scoped>

</style>