<template>
  <el-col class="mt-2" :xs="24" :sm="12" :md="8" :lg="6">
    <el-card>
      <h5>{{ store.name }}</h5>
      <template v-if="store.description">
        <el-divider></el-divider>
        <small> {{ store.description }}</small>
        <el-row type="flex" justify="end" class="mt-3">
          <el-tooltip class="item" effect="dark" content="View more" placement="top">
            <el-button type="primary" class="bg-color-1" icon="el-icon-view"></el-button>
          </el-tooltip>
          <el-tooltip class="item" effect="dark" content="Giftcards" placement="top">
            <el-button type="primary" class="bg-color-2" icon="el-icon-bank-card"></el-button>
          </el-tooltip>
        </el-row>
      </template>
    </el-card>
  </el-col>
</template>

<script>
  export default {
    name: "StoreCard",
    props: {
      store: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>

</style>